In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [0]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier

In [0]:
#from google.colab import files
#uploaded = files.upload()

In [0]:
#import io
#df = pd.read_csv(io.BytesIO(uploaded['air_bnb.csv']))

In [0]:
df = pd.read_csv("air_bnb.csv")

In [6]:
df.isnull().sum()

id                                   0
name                                59
host_id                              0
host_name                           26
neighbourhood_group                  0
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                                0
minimum_nights                       0
number_of_reviews                    0
last_review                       3908
reviews_per_month                 3914
calculated_host_listings_count       0
availability_365                     0
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22552 entries, 0 to 22551
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              22552 non-null  int64
 1   name                            22493 non-null  object
 2   host_id                         22552 non-null  int64
 3   host_name                       22526 non-null  object
 4   neighbourhood_group             22552 non-null  object
 5   neighbourhood                   22552 non-null  object
 6   latitude                        22552 non-null  float64
 7   longitude                       22552 non-null  float64
 8   room_type                       22552 non-null  object
 9   price                           22552 non-null  int64
 10  minimum_nights                  22552 non-null  int64
 11  number_of_reviews               22552 non-null  int64
 12  last_review                     18644 non-null  object
 13  reviews_per_month               18638 non-null  float64
 14  calculated_host_listings_count  22552 non-null  int64
 15  availability_365                22552 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 2.8+ MB

In [8]:
df.head()

     id  ... availability_365
0  2015  ...              141
1  2695  ...                0
2  3176  ...              220
3  3309  ...              297
4  7071  ...               26

[5 rows x 16 columns]

In [9]:
df.describe()

                 id  ...  availability_365
count  2.255200e+04  ...      22552.000000
mean   1.571560e+07  ...         79.852829
std    8.552069e+06  ...        119.368162
min    2.015000e+03  ...          0.000000
25%    8.065954e+06  ...          0.000000
50%    1.686638e+07  ...          4.000000
75%    2.258393e+07  ...        129.000000
max    2.986735e+07  ...        365.000000

[8 rows x 10 columns]

In [10]:
selected_col = ['id','host_id','neighbourhood_group','room_type','price','minimum_nights','availability_365']
new_df = df[selected_col]
new_df.to_csv('new_df.csv')
new_df.head()

     id  host_id  ... minimum_nights availability_365
0  2015     2217  ...              4              141
1  2695     2986  ...              2                0
2  3176     3718  ...             62              220
3  3309     4108  ...              5              297
4  7071    17391  ...              2               26

[5 rows x 7 columns]

In [11]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22552 entries, 0 to 22551
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   22552 non-null  int64
 1   host_id              22552 non-null  int64
 2   neighbourhood_group  22552 non-null  object
 3   room_type            22552 non-null  object
 4   price                22552 non-null  int64
 5   minimum_nights       22552 non-null  int64
 6   availability_365     22552 non-null  int64
dtypes: int64(5), object(2)
memory usage: 1.2+ MB

In [0]:
x_df = new_df.iloc[:, [5,6]].values
y_df = new_df.iloc[:, 4].values

In [0]:
x_train, x_test, y_train, y_test = train_test_split(x_df, y_df, test_size = 0.25, random_state = 0)

In [14]:
scaler = StandardScaler()
scaler.fit_transform(x_train)
scaler.transform(x_test)

array([[-0.13798657,  0.82739448],
       [-0.00440303, -0.67214787],
       [-0.11572265, -0.61350655],
       ...,
       [-0.13798657, -0.66377054],
       [-0.04893088, -0.67214787],
       [-0.00440303, -0.67214787]])

In [0]:
x_train = scaler.transform(x_train)
x_test = scaler.transform(x_test)

In [16]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
knn.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [17]:
from sklearn.metrics import accuracy_score
y_pred = knn.predict(x_test)
accuracy_score(y_test,y_pred)

0.033877261440227034

In [0]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)